includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - candidature-echecs-briand.php
    paths:
        - .
    excludePaths:
        - node_modules/
        - vendor/
        - build/
        - src/
        - includes/lib/